In [1]:
import numpy as np
import pandas as pd

In [7]:
ds1 = pd.Series([1,2,3,4,5,6,7,8,9])
ds1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [11]:
ds = pd.Series(np.arange(1,10))
print(ds)
print(type(ds))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
<class 'pandas.core.series.Series'>

In [12]:
ds = pd.Series(np.array([1,2,3,4,5,6,7]))
print(ds)
print(type(ds))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32
<class 'pandas.core.series.Series'>

In [15]:
print(type(ds1))
print("convert pandas to list")
print(ds1.tolist())
print(type(ds1))

<class 'pandas.core.series.Series'>
convert pandas to list
[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'pandas.core.series.Series'>

In [20]:
ds1 = pd.Series([1,2,3,4,5,6,7,8,9])
ds2 = pd.Series([9,8,7,6,5,4,3,2,1])
ds = ds1 + ds2
print("addion")
print(ds)
print("subtraction")
ds = ds1-ds2
print(ds)

addion
0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
dtype: int64
subtraction
0   -8
1   -6
2   -4
3   -2
4    0
5    2
6    4
7    6
8    8
dtype: int64

In [22]:
ds = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print(ds)
print("convert in pandas Series")
ds1 = pd.Series(ds)
ds1

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
convert in pandas Series

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [29]:
# Convert Numpy array into pandas Series
array = np.array([10, 20, 30, 40, 50])
print(array,"Numpy Array")
print(type(array))
ds = pd.Series(array)
print(ds, "pandas Series")

[10 20 30 40 50] Numpy Array
<class 'numpy.ndarray'>
0    10
1    20
2    30
3    40
4    50
dtype: int32 pandas Series

In [34]:
ds = pd.Series(['100', '200', 'python', '300.12', '400'])
print(ds, "original ds")
ds1 = pd.to_numeric(ds, errors='coerce')
print(ds1, "Change the data type in numeric ")

0       100
1       200
2    python
3    300.12
4       400
dtype: object original ds
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64 Change the data type in numeric

In [52]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
print(d)
print()
df = pd.DataFrame(data=d)
print(df)
print("playing method with data")
df1 = df.iloc[1:4,1:3]
print(df1)

{'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
playing method with data
   col2  col3
1     5     5
2     6     8
3     9    12

In [57]:
# Series of list in one list
ds = pd.Series([['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print(ds, "List of Series")

ds1 = ds.apply(pd.Series).stack().reset_index(drop=True) # convert the all lists in one pandas Series
print(ds1)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object List of Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [60]:
# Sort the pandas Series
ds = pd.Series(['100', '200', 'python', '300.12', '400'])
print(ds ,"Actual Series")
df = pd.Series(ds).sort_values()
print(df, "Sorted ")

0       100
1       200
2    python
3    300.12
4       400
dtype: object Actual Series
0       100
1       200
3    300.12
4       400
2    python
dtype: object Sorted

In [2]:
# Adding the new values in pd Series
import numpy as np
import pandas as pd
ds = pd.Series(['100', '200', 'python', '300.12', '400'])
print(ds ,"\nActual Series")
df = ds.append(pd.Series(['500','Php']))
print(df, "\n\nAdding the new value using append function")

0       100
1       200
2    python
3    300.12
4       400
dtype: object
Actual Series
0       100
1       200
2    python
3    300.12
4       400
0       500
1       Php
dtype: object

Adding the new value using append function

In [ ]:
# Question No 13 continue  w3resourse
# geeksforgeeks  ==> best site for practice

In [10]:
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print("Original Series")
print(s)
print("\nSubset of above data Series")
n=6
s=s[s<n]
print(s)

Original Series
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Subset of above data Series
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [16]:
# Change the order of index
s = pd.Series([1,2,3,4,5], index=['A','B','C',"D",'E'])
print("original Sereis")
print(s)
print("\nChange the index items")
s = s.reindex(index=["E","D","C","B","A"])
print(s)

original Sereis
A    1
B    2
C    3
D    4
E    5
dtype: int64

Change the index items
E    5
D    4
C    3
B    2
A    1
dtype: int64

In [22]:
# Mean and Standard diviation
s = pd.Series(data=[1,2,3,4,5,6,7,8,9,5,3])
print("Originail Series")
print(s)
print("\nMean of the Series")
print(s.mean())
print("\nStandard Diviation of the Series")
print(s.std())

Originail Series
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

Mean of the Series
4.818181818181818

Standard Diviation of the Series
2.522624895547565

In [28]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItmems of sr1 is not in sr2")
result = sr1[~sr1.isin(sr2)]
print(result)
print("\nItems of sr2 in not in sr1")
result = sr2[~sr2.isin(sr1)]
print(result)

sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Itmems of sr1 is not in sr2
0    1
2    3
4    5
dtype: int64

Items of sr2 in not in sr1
2     6
3     8
4    10
dtype: int64

In [32]:
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of a given series not present in another given series:")
sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]
print(result)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [9]:
num_state = np.random.RandomState(100)
print(num_state)
num_series = pd.Series(num_state.normal(10,4,20))
print(num_series)
result = np.percentile(num_series, q=[0,25,75,100])
print(result)

RandomState(MT19937)
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
[ 3.00093811  8.09463867 12.21537733 14.61214321]

In [62]:
# counts  vlaue in the Series
num_series = pd.Series(np.take(list('0123456789'), np.random.randint(10, size=20)))
print(num_series)
result = num_series.value_counts()
print(result)

0     6
1     0
2     6
3     2
4     0
5     9
6     4
7     3
8     9
9     1
10    7
11    2
12    1
13    3
14    0
15    0
16    8
17    7
18    4
19    1
dtype: object
0    4
1    3
9    2
7    2
6    2
3    2
4    2
2    2
8    1
dtype: int64

In [63]:
# Show most freequent value
np.random.RandomState(100)
num_series = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:", num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

Original Series:
0     1
1     4
2     3
3     2
4     3
5     4
6     3
7     3
8     1
9     2
10    4
11    2
12    4
13    2
14    1
dtype: int32
Top 2 Freq: 4    4
3    4
2    4
1    3
dtype: int64
0     Other
1         4
2     Other
3     Other
4     Other
5         4
6     Other
7     Other
8     Other
9     Other
10        4
11    Other
12        4
13    Other
14    Other
dtype: object

In [75]:
# Find the position of the number
num_series = pd.Series(np.random.randint(0,10,15))
print(num_series)
result = np.argwhere(num_series % 15==0)
print(result)

0     8
1     5
2     8
3     9
4     8
5     8
6     5
7     6
8     5
9     2
10    5
11    1
12    9
13    6
14    1
dtype: int32

ValueError: Length of passed values is 1, index implies 15.

In [78]:
#Find the values on index position
print(num_series)
print("\nFind the values on index position")
element_pos = [3,10,13]
result = num_series.take(element_pos)
print(result)

0     8
1     5
2     8
3     9
4     8
5     8
6     5
7     6
8     5
9     2
10    5
11    1
12    9
13    6
14    1
dtype: int32

Find the values on index position
3     9
10    5
13    6
dtype: int32

In [82]:
# Two series main same value kis index main mojood hai?
sr1 =pd.Series([1,2,3,4,5,6,7,8,9,10])
sr2 =pd.Series([1,3,5,7,9])
result = [pd.Index(sr1).get_loc(i) for i in sr2]
print(result)

[0, 2, 4, 6, 8]

In [97]:
series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: x[0].upper()+ x[1:-1] + x[-1])
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       Php
1    Python
2      Java
3        C#
dtype: object

In [101]:
# Find the length of word in this Series
series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: len(x))
print("\nFirst the length of character of word")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First the length of character of word
0    3
1    6
2    4
3    2
dtype: int64

In [2]:
import pandas as pd
series1 = pd.Series([1, 3, 5, 8, 10, 11, 15])
print("Original Series:")
print(series1)
print("\nDifference of differences between consecutive numbers of the said series:")
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [4]:
ts = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print(ts)
print("\nSeries into timeSeies")
print(pd.to_datetime(ts))

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series into timeSeies
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [6]:
from dateutil.parser import parse

In [21]:
data_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("original dataSeries")
print(data_series)
data_series = data_series.map(lambda x: parse(x))
print("\nparse here\n\n", data_series)
print("Day of mounth")
print(data_series.dt.day.tolist())
print("Day of Years")
print(data_series.dt.dayofyear.tolist())
print("week of Year")
#print(data_series.dt.weekofyear.tolist())
print(data_series.dt.isocalendar().week.tolist())
print("week of day")
print(data_series.dt.weekday.tolist())

original dataSeries
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

parse here

 0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]
Day of mounth
[1, 2, 7, 6, 12, 6]
Day of Years
[1, 276, 66, 126, 103, 96]
week of Year
[1, 39, 10, 19, 15, 14]
week of day
[3, 6, 2, 1, 1, 5]

In [24]:
data_series = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print("original data_series")
print(data_series)
data_series = data_series.map(lambda x: parse('11' + x))
print(data_series)

original data_series
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [32]:
# find word that contain atlest two 

from collections import Counter

color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color_series)
print("\nFiltered words:")
result = mask = color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color_series[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [35]:
# Find the Euclidean distance between to series
x = pd.Series([1,2,3,4,5,6,7,8,9,10])
y = pd.Series([11,8,7,6,5,4,3,7,2,1])
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(x-y))

Euclidean distance between two said series:
17.52141546793523

In [41]:
nums = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(nums)
print("\nPositions of the values surrounded by smaller values on both sides:")
temp = np.diff(np.sign(np.diff(nums)))
result = np.where(temp == -2)[0] + 1
print(result)

Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values surrounded by smaller values on both sides:
[1 4 8]

In [49]:
# Remove the white spaceing in the strig
str1 = 'abc def abcdef icd'
print("Original series:")
print(str1)
ser = pd.Series(list(str1))
element_freq = ser.value_counts()
print(element_freq)
current_freq = element_freq.dropna().index[-1]
result = "".join(ser.replace(' ', current_freq))
print(result)

Original series:
abc def abcdef icd
d    3
     3
c    3
e    2
b    2
f    2
a    2
i    1
dtype: int64
abcidefiabcdefiicd

In [54]:
num_series = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print("Original series:")
print(num_series)
autocorrelations = [num_series.autocorr(i).round(5) for i in range(11)]
print("\nAutocorrelations of the said series:")
print(autocorrelations[1:])

Original series:
0      3.141800
1     19.519044
2     -1.167920
3      4.956052
4      0.714478
5     -4.423869
6     -2.761995
7      7.038016
8     20.272082
9    -11.082200
10    15.314108
11    18.979953
12    27.855263
13     6.455250
14    18.020530
dtype: float64

Autocorrelations of the said series:
[-0.00375, 0.18214, -0.00271, 0.34421, -0.28484, -0.24075, 0.25021, -0.66971, 0.0329, -0.1572]

In [60]:
# All sundays in given years
result = pd.Series(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print(result)

All Sundays of 2019:
0    2020-01-05
1    2020-01-12
2    2020-01-19
3    2020-01-26
4    2020-02-02
5    2020-02-09
6    2020-02-16
7    2020-02-23
8    2020-03-01
9    2020-03-08
10   2020-03-15
11   2020-03-22
12   2020-03-29
13   2020-04-05
14   2020-04-12
15   2020-04-19
16   2020-04-26
17   2020-05-03
18   2020-05-10
19   2020-05-17
20   2020-05-24
21   2020-05-31
22   2020-06-07
23   2020-06-14
24   2020-06-21
25   2020-06-28
26   2020-07-05
27   2020-07-12
28   2020-07-19
29   2020-07-26
30   2020-08-02
31   2020-08-09
32   2020-08-16
33   2020-08-23
34   2020-08-30
35   2020-09-06
36   2020-09-13
37   2020-09-20
38   2020-09-27
39   2020-10-04
40   2020-10-11
41   2020-10-18
42   2020-10-25
43   2020-11-01
44   2020-11-08
45   2020-11-15
46   2020-11-22
47   2020-11-29
48   2020-12-06
49   2020-12-13
50   2020-12-20
51   2020-12-27
dtype: datetime64[ns]

In [62]:
# All sundays in given year through data frame
result = pd.DataFrame(pd.date_range('2020-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2019:")
print(result)

All Sundays of 2019:
            0
0  2020-01-05
1  2020-01-12
2  2020-01-19
3  2020-01-26
4  2020-02-02
5  2020-02-09
6  2020-02-16
7  2020-02-23
8  2020-03-01
9  2020-03-08
10 2020-03-15
11 2020-03-22
12 2020-03-29
13 2020-04-05
14 2020-04-12
15 2020-04-19
16 2020-04-26
17 2020-05-03
18 2020-05-10
19 2020-05-17
20 2020-05-24
21 2020-05-31
22 2020-06-07
23 2020-06-14
24 2020-06-21
25 2020-06-28
26 2020-07-05
27 2020-07-12
28 2020-07-19
29 2020-07-26
30 2020-08-02
31 2020-08-09
32 2020-08-16
33 2020-08-23
34 2020-08-30
35 2020-09-06
36 2020-09-13
37 2020-09-20
38 2020-09-27
39 2020-10-04
40 2020-10-11
41 2020-10-18
42 2020-10-25
43 2020-11-01
44 2020-11-08
45 2020-11-15
46 2020-11-22
47 2020-11-29
48 2020-12-06
49 2020-12-13
50 2020-12-20
51 2020-12-27

In [66]:
char_list = list("ABCDEFGHIJKLMNOP")
num_arra = np.arange(8)
num_dict = dict(zip(char_list,num_arra))
num_ser = pd.Series(num_dict)
df = num_ser.to_frame().reset_index()
print(df)

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4
5     F  5
6     G  6
7     H  7

In [67]:
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print(nums.idxmin())
print(nums.idxmax())

9
4

In [69]:
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]})
sr_data = pd.Series([68, 75, 86, 80, None]) 
print("Original DataFrame:")
print(df_data)
print("\nOriginal Series:")
print(sr_data)
print("\nCheck for inequality of the said series & dataframe:")
print(df_data.ne(sr_data, axis = 0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True